@tailwind base;
@tailwind components;
@tailwind utilities;

p a {
  @apply underline decoration-dotted decoration-1 underline-offset-2 dark:decoration-1;
}

a:focus-visible,
button:focus-visible {
  outline-color: theme("colors.neutral.900");
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  a:focus-visible,
  button:focus-visible {
    outline-color: theme("colors.white");
  }
}
